@model ProyectoCibertec.Models.Producto

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalles</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.strDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dblPrecio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dblPrecio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strUDM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strUDM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idProducto }) |
    @Html.ActionLink("Regresar al listado", "Index")
</p>
