@model ProyectoCibertec.Models.Dto.RegistroOrderDto
@using ProyectoCibertec.Models
@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <h4>Orden de Compra</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StrNroDoc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Convert.ToBoolean(ViewBag.Show))
                {
                    @Html.EditorFor(model => model.StrNroDoc, new { htmlAttributes = new { @class = "form-control" } })
                }
                else
                {
                    @Html.EditorFor(model => model.StrNroDoc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                }

                @Html.ValidationMessageFor(model => model.StrNroDoc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DtFecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @if (Convert.ToBoolean(ViewBag.Show))
                {
                    @Html.EditorFor(model => model.DtFecha, new { htmlAttributes = new { @class = "form-control datepicker", @type = "date", Value = @ViewData["fechaActual"] } })
                }
                else
                {
                    @Html.EditorFor(model => model.DtFecha, new { htmlAttributes = new { @class = "form-control datepicker", @type = "date", Value = @ViewData["fechaActual"], @readonly = "readonly" } })
                }
                @Html.ValidationMessageFor(model => model.DtFecha, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2">Productos</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdProducto, new SelectList(ViewBag.Producto_idProducto, "idProducto", "strDescripcion"), htmlAttributes: new { @class = "form-control" })
            </div>

        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.DblCantidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DblCantidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DblCantidad, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary" id="registrarM" type="submit" value="add" name="btnAdd">Agregar</button>
            </div>
        </div>


        <hr />
        <section>
            <table id="lstOrdenes" class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 30%">Item</th>
                        <th style="width: 30%">Nro. Orden</th>
                        <th style="width: 25%">Fecha</th>
                        <th style="width: 35%">Producto</th>
                        <th style="width: 25%">Cantidad</th>
                        @*<th style="width: 10%">Eliminar</th>*@
                    </tr>
                </thead>
                <tbody>
                    @{var items = 0;}
                    @foreach (var item in Model.LstOrder)
                    {
                        items++;
                        <tr>
                            <td class="text-center">
                                @items
                            </td>
                            <td class="text-center">
                                @item.StrNroDoc
                            </td>
                            <td>
                                @item.DtFecha.ToString("dd-MM-yyyy")
                            </td>
                            <td class="text-center">
                                @item.Producto_idProducto
                            </td>
                            <td class="text-center">
                                @item.dblCantidad
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </section>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="RegistrarOrden" class="btn btn-info" type="submit" value="set" name="btnSet">Registrar Orden</button>
            </div>
        </div>

        <div id="miModal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Error</h5>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <span id="errorMessage"></span>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal">Salir</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
}



<div>
    @Html.ActionLink("Regresar a lista", "Index")
</div>
@*@section Scripts {
    <script>
        $("#registrarM").click(function () {

            $("#StrNroDoc").attr("disabled", true);
        });
    </script>

}*@
