@model IEnumerable<ProyectoCibertec.Models.Orden>

@{
    ViewBag.Title = "Index";
}

<h2>Orden de Compra</h2>

<p>
    @Html.ActionLink("Crear Orden", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.strNroDoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtFecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.strNroDoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtFecha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idOrden }) |
            @Html.ActionLink("Details", "Details", new { id=item.idOrden }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idOrden })
        </td>
    </tr>
}

</table>
